* {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

ul li {
  list-style: none;
}

a {
  color: goldenrod;
  text-decoration: none;
}

a:active, a:focus {
  outline: none;
}

a:hover {
  color: goldenrod;
  text-decoration: none;
}

.btn {
  padding: 10px 15px;
  border: #9e7308 solid 1.5px;
  border-radius: 0px;
}

body {
  font-family: "Odibee Sans", "Times New Roman", Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  background-color: #0f1d26;
  margin: 0px;
  padding: 0px;
  color: goldenrod;
  font-size: 1.5rem;
  overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
  background-color: #0f1d26;
  top: 0;
  right: 0;
  width: 60px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  z-index: 2;
}

header .desktop {
  display: none;
}

header .mobile {
  display: block;
}

header .menuDashboard {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

header .menuDashboard #hamburger {
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
}

header .menuDashboard #hamburger > div {
  display: block;
  position: absolute;
  width: 25px;
  height: 4px;
  left: 0;
  border-radius: 10px;
  background-color: goldenrod;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: background-color, -webkit-box-shadow, -webkit-transform;
  transition: background-color, -webkit-box-shadow, -webkit-transform;
  transition: background-color, box-shadow, transform;
  transition: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .menuDashboard #hamburger > div:nth-child(1) {
  top: calc((1 - 1) * (25px / 3));
}

header .menuDashboard #hamburger > div:nth-child(2) {
  top: calc((2 - 1) * (25px / 3));
}

header .menuDashboard #hamburger > div:nth-child(3) {
  top: calc((3 - 1) * (25px / 3));
}

header .menuDashboard #hamburger.hamburgerX > div {
  background-color: darkred;
  -webkit-box-shadow: 0px 0px 1px 1.5px #9e7308;
          box-shadow: 0px 0px 1px 1.5px #9e7308;
}

header .menuDashboard #hamburger.hamburgerX > div:nth-child(1) {
  -webkit-transform: translate(0%, 8.33333px) rotateZ(45deg);
          transform: translate(0%, 8.33333px) rotateZ(45deg);
}

header .menuDashboard #hamburger.hamburgerX > div:nth-child(3) {
  -webkit-transform: translate(0%, -8.33333px) rotateZ(-45deg);
          transform: translate(0%, -8.33333px) rotateZ(-45deg);
}

header .menuDashboard #hamburger.hamburgerX > div:nth-child(2) {
  -webkit-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
}

header .menuDashboard #menuMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
}

header .menuDashboard #menuMedia #toggleMedia {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0px auto;
}

header .menuDashboard #menuMedia #toggleMedia > div {
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  background-color: goldenrod;
  -webkit-transition: background-color, -webkit-box-shadow, -webkit-transform;
  transition: background-color, -webkit-box-shadow, -webkit-transform;
  transition: background-color, box-shadow, transform;
  transition: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .menuDashboard #menuMedia #toggleMedia.toggleMediaPlus > div {
  background-color: darkred;
  -webkit-box-shadow: 0px 0px 1px 1.5px #9e7308;
          box-shadow: 0px 0px 1px 1.5px #9e7308;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

header .menuDashboard #menuMedia #toggleMedia.toggleMediaPlus > div:last-child {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

header .menuDashboard #menuMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 50vh;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

header .menuDashboard #menuMedia ul > li {
  max-height: 50vh;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

header .menuDashboard #menuMedia ul > li > a {
  max-height: 50vh;
  font-size: 1.5rem;
  -webkit-transition: max-height 0.3s, font-size 0.3s;
  transition: max-height 0.3s, font-size 0.3s;
}

header .menuDashboard #menuMedia .mediaClosed {
  max-height: 0px;
}

header .menuDashboard #menuMedia .mediaClosed > li {
  max-height: 0vh;
}

header .menuDashboard #menuMedia .mediaClosed > li > a {
  max-height: 0px;
  font-size: 0px;
}

header .menuDashboard a {
  display: block;
}

header nav {
  position: absolute;
  background: #0f1d26;
  right: 70px;
  top: 0;
  width: calc(100vw - 70px);
  height: calc(100%-60px);
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-150%, 0%);
          transform: translate(-150%, 0%);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
}

header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav > ul > li {
  border-bottom: rgba(0, 0, 0, 0.8) solid 0.5px;
}

header nav > ul > li > a {
  padding: 5px 10px;
}

header nav > ul > li > ul {
  max-height: 0px;
  -webkit-transition-property: max-height;
  -webkit-transition-duration: 0.3s;
  transition-property: max-height;
  transition-duration: 0.3s;
}

header nav > ul > li > ul > li {
  max-height: 0px;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

header nav > ul > li > ul > li > a {
  max-height: 0px;
  font-size: 0px;
  -webkit-transition: max-height 0.3s, font-size 0.3s;
  transition: max-height 0.3s, font-size 0.3s;
  padding-left: 15px;
}

header nav > ul > li > ul > li > a.disabled {
  color: #9e7308;
}

header nav > ul > li > ul.openedSub {
  max-height: 90vh;
}

header nav > ul > li > ul.openedSub > li {
  max-height: 90vh;
}

header nav > ul > li > ul.openedSub > li > a {
  padding: 5px 15px;
  max-height: 90vh;
  font-size: 20px;
}

header nav > ul > li:last-child {
  border-bottom: none;
}

header nav a {
  display: block;
}

header nav > ul {
  text-transform: uppercase;
}

header nav.opened {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

main {
  min-height: 100vh;
  max-width: 980px;
  margin: 0px auto;
  overflow-y: hidden;
  padding: 5px;
}

main section {
  padding: 10px 0px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

main section h1 {
  color: darkred;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9e7308;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
}

main #aboutMe > img {
  display: block;
  margin: 20px auto;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

main #aboutMe > p {
  font-family: "Special Elite", "Times New Roman", Arial, Helvetica, sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  background-color: #0f1d26;
  -webkit-box-shadow: 0px 0px 10px #0f1d26;
          box-shadow: 0px 0px 10px #0f1d26;
  -webkit-box-shadow: 0px 0px 10px 7px #0f1d26;
          box-shadow: 0px 0px 10px 7px #0f1d26;
}

main #aboutMe > p .textLink {
  color: #9e7308;
  text-decoration: underline;
  cursor: pointer;
}

main #experience ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  border-bottom: rgba(0, 0, 0, 0.8) solid 0.5px;
}

main #experience ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

main #experience ul li div:first-child {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #experience ul li div:last-child {
  font-family: "Special Elite", "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  padding-left: 10px;
  text-align: center;
}

main #experience ul li:last-child {
  border: none;
}

main #skills > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main #skills > div table {
  position: relative;
  margin: 0px auto 30px auto;
  width: 100%;
}

main #skills > div table th {
  text-align: center;
}

main #skills > div table tr td:first-child {
  position: relative;
  min-width: 100px;
}

main #skills > div table tr td:first-child i {
  font-size: 1.3rem;
  color: darkred;
}

main #skills > div table tr .skillLevel {
  text-align: right;
}

main #skills > div table tr .skillLevel i.active {
  color: #9e7308;
}

main #skills > div table tr .skillLevel i {
  color: black;
}

main #skills > div table tr > .description {
  display: none;
  position: absolute;
  width: 165px;
  height: 100%;
  right: 0px;
  top: 0px;
  background-color: #0f1d26;
  color: goldenrod;
  padding: 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.8);
}

main #skills > div table tr > .description::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 10px;
  -webkit-transform: translate(-90%, 0%);
          transform: translate(-90%, 0%);
  background-color: #0f1d26;
}

main #skills > div table tr.skillDescriptionOpened td:first-child::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: transparent solid 8px;
  border-right: goldenrod solid 8px;
}

main #skills > div .otherSkills tr .skillLevel {
  min-width: 170px;
}

main #skills > div .otherSkills tr .skillLevel i {
  color: #9e7308;
  font-size: 20px;
}

main #skills > div .otherSkills tr.skillDescriptionOpened .skillLevel i {
  color: goldenrod;
}

main #achievements > ul > li > i {
  font-size: 1rem;
}

main #projects > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

main #projects #showAllProjects {
  cursor: pointer;
  color: goldenrod;
}

main #projects #showAllProjects > i {
  font-size: 2rem;
}

main #projects #allProjects {
  display: block;
  position: absolute;
}

main #projects > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

main #projects > ul > li > a > i {
  font-size: 1rem;
}

main #projects > ul > li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 0px;
  -webkit-transform: translate(-150%, 0%);
          transform: translate(-150%, 0%);
  -webkit-transition: max-height 1s, transform 0.5s;
  -webkit-transition: max-height 1s, -webkit-transform 0.5s;
  transition: max-height 1s, -webkit-transform 0.5s;
  transition: max-height 1s, transform 0.5s;
  transition: max-height 1s, transform 0.5s, -webkit-transform 0.5s;
}

main #projects > ul > li > div > .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3rem;
}

main #projects > ul > li > div > .desc {
  margin-left: 5px;
  padding-left: 5px;
  border-left: #9e7308 dashed 1.5px;
}

main #projects > ul > li > div > .desc > p {
  font-family: "Special Elite", "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: justify;
}

main #projects > ul > li > .websiteOpened {
  max-height: 100vh;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

main #projects #projectsSlick {
  margin-top: 40px;
}

main #projects #projectsSlick .slick-list {
  overflow: visible;
}

main #projects #projectsSlick .slick-list .projectSlide > div {
  position: relative;
}

main #projects #projectsSlick .slick-list .projectSlide > div > h3 {
  text-align: center;
  max-width: 80%;
  margin: 0px auto;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  top: 50px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  padding: 5px;
  max-width: 700px;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectImg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectImg > img {
  position: relative;
  width: 100%;
  height: 100%;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectImg.bestProject::after {
  content: "Best Project";
  position: absolute;
  top: 0px;
  height: 150px;
  left: 0px;
  width: 150px;
  background-color: #9e7308;
  color: #0f1d26;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  font-size: 22px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectDescription {
  z-index: -1;
  margin-top: 5px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectDescription > div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectDescription > div > a {
  display: block;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectDescription > div > a > i {
  font-size: 2rem;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > .projectDescription > p {
  position: absolute;
  left: 50%;
  text-align: justify;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0px auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent.projectContentOpened > div > img {
  -webkit-filter: blur(3px) brightness(50%);
          filter: blur(3px) brightness(50%);
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent.projectContentOpened > div {
  z-index: 1;
  opacity: 1;
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent.projectContentOpened > div > div {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent.projectContentOpened > div > p {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

main #projects #projectsSlick .slick-list .projectSlide:active, main #projects #projectsSlick .slick-list .projectSlide:focus {
  outline: none;
}

main #projects #projectsSlick .slickArrowLeft,
main #projects #projectsSlick .slickArrowRight {
  position: absolute;
  top: 0px;
  z-index: 1;
  cursor: pointer;
}

main #projects #projectsSlick .slickArrowLeft {
  left: 0px;
}

main #projects #projectsSlick .slickArrowRight {
  right: 0px;
}

main #projects #projectsSlick .slick-dots {
  top: -45px;
  bottom: auto;
}

main #projects #projectsSlick .slick-dots li button:before {
  color: #9e7308;
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 8px;
}

main #projects #projectsSlick .slick-dots li.slick-active button:before {
  color: goldenrod;
}

footer {
  padding: 5px;
  margin-bottom: 30px;
}

footer .contact > h1 {
  color: darkred;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9e7308;
  letter-spacing: 3px;
}

footer .contact > ul > li {
  text-align: center;
}

footer .attributes {
  font-size: 10px;
}

footer .attributes > ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}

footer .attributes > ul > li {
  text-align: center;
}

.popup {
  display: block;
  z-index: 3;
  position: fixed;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 300%);
          transform: translate(-50%, 300%);
  background-color: #0f1d26;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.popup > .popupHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: goldenrod;
  border-bottom: #9e7308 solid 1px;
  margin-bottom: 5px;
}

.popup > .popupHeader > a,
.popup > .popupHeader > p {
  display: block;
}

.popup > .popupHeader > a {
  cursor: pointer;
}

.popup img {
  max-width: 90vw;
  max-height: 85vh;
}

.popup.allProjects {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 50%;
}

.popup.allProjects .mainPopup > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.popup.allProjects .mainPopup > ul > li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup.allProjects .mainPopup > ul > li > a {
  font-size: 30px;
  margin: 0px auto;
  cursor: pointer;
}

.popup.allProjects .mainPopup > ul > li > div {
  display: none;
}

.openedPopup {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 100vw;
  max-height: 100vh;
}

.openedPopup.allProjects {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backgroundIcon {
  width: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.1;
  position: absolute;
  left: 20%;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: -1;
}

.backgroundIcon:nth-child(30n + 1) {
  top: 54%;
  -webkit-transform: rotate(426deg);
          transform: rotate(426deg);
  -webkit-animation: backgroundIconMove 2s infinite;
          animation: backgroundIconMove 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 2) {
  top: 76%;
  -webkit-transform: rotate(542deg);
          transform: rotate(542deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 3) {
  top: 83%;
  -webkit-transform: rotate(682deg);
          transform: rotate(682deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 4) {
  top: 82%;
  -webkit-transform: rotate(548deg);
          transform: rotate(548deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 5) {
  top: 41%;
  -webkit-transform: rotate(676deg);
          transform: rotate(676deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 6) {
  top: 47%;
  -webkit-transform: rotate(684deg);
          transform: rotate(684deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 7) {
  top: 39%;
  -webkit-transform: rotate(670deg);
          transform: rotate(670deg);
  -webkit-animation: backgroundIconMove 2s infinite;
          animation: backgroundIconMove 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 8) {
  top: 74%;
  -webkit-transform: rotate(651deg);
          transform: rotate(651deg);
  -webkit-animation: backgroundIconMove 3s infinite;
          animation: backgroundIconMove 3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 9) {
  top: 8%;
  -webkit-transform: rotate(610deg);
          transform: rotate(610deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 10) {
  top: 67%;
  -webkit-transform: rotate(595deg);
          transform: rotate(595deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 11) {
  top: 19%;
  -webkit-transform: rotate(553deg);
          transform: rotate(553deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 12) {
  top: 67%;
  -webkit-transform: rotate(702deg);
          transform: rotate(702deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 13) {
  top: 39%;
  -webkit-transform: rotate(702deg);
          transform: rotate(702deg);
  -webkit-animation: backgroundIconMove 2s infinite;
          animation: backgroundIconMove 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 14) {
  top: 13%;
  -webkit-transform: rotate(719deg);
          transform: rotate(719deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 15) {
  top: 20%;
  -webkit-transform: rotate(685deg);
          transform: rotate(685deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 16) {
  top: 28%;
  -webkit-transform: rotate(527deg);
          transform: rotate(527deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 17) {
  top: 38%;
  -webkit-transform: rotate(484deg);
          transform: rotate(484deg);
  -webkit-animation: backgroundIconMove 2s infinite;
          animation: backgroundIconMove 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 18) {
  top: 42%;
  -webkit-transform: rotate(590deg);
          transform: rotate(590deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 19) {
  top: 48%;
  -webkit-transform: rotate(594deg);
          transform: rotate(594deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 20) {
  top: 69%;
  -webkit-transform: rotate(456deg);
          transform: rotate(456deg);
  -webkit-animation: backgroundIconMove 6s infinite;
          animation: backgroundIconMove 6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 21) {
  top: 24%;
  -webkit-transform: rotate(488deg);
          transform: rotate(488deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 22) {
  top: 26%;
  -webkit-transform: rotate(598deg);
          transform: rotate(598deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 23) {
  top: 23%;
  -webkit-transform: rotate(374deg);
          transform: rotate(374deg);
  -webkit-animation: backgroundIconMove 2s infinite;
          animation: backgroundIconMove 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 24) {
  top: 84%;
  -webkit-transform: rotate(615deg);
          transform: rotate(615deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 25) {
  top: 77%;
  -webkit-transform: rotate(445deg);
          transform: rotate(445deg);
  -webkit-animation: backgroundIconMove 5s infinite;
          animation: backgroundIconMove 5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 26) {
  top: 8%;
  -webkit-transform: rotate(578deg);
          transform: rotate(578deg);
  -webkit-animation: backgroundIconMove 3s infinite;
          animation: backgroundIconMove 3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 27) {
  top: 47%;
  -webkit-transform: rotate(561deg);
          transform: rotate(561deg);
  -webkit-animation: backgroundIconMove 3s infinite;
          animation: backgroundIconMove 3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 28) {
  top: 22%;
  -webkit-transform: rotate(574deg);
          transform: rotate(574deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 29) {
  top: 65%;
  -webkit-transform: rotate(708deg);
          transform: rotate(708deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.backgroundIcon:nth-child(30n + 30) {
  top: 51%;
  -webkit-transform: rotate(407deg);
          transform: rotate(407deg);
  -webkit-animation: backgroundIconMove 4s infinite;
          animation: backgroundIconMove 4s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes backgroundIconMove {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 50px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes backgroundIconMove {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - 50px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (min-width: 680px) {
  a {
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-property: color;
    transition-duration: 0.3s;
  }
  a:hover {
    color: #9e7308;
    text-decoration: none;
  }
  header .desktop {
    display: block;
  }
  header .mobile {
    display: none;
  }
  header .menuDashboard #hamburger {
    display: none;
  }
  header .menuDashboard #menuMedia #toggleMedia {
    cursor: pointer;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  header .menuDashboard #menuMedia #toggleMedia:hover {
    opacity: 0.7;
  }
  header nav.menu {
    position: fixed;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 0px;
    -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
  }
  header nav.menu a {
    cursor: pointer;
  }
  header nav.menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav.menu > ul > li {
    position: relative;
    border: none;
  }
  header nav.menu > ul > li > ul {
    position: absolute;
    border: #9e7308 solid 2px;
    min-width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #9e7308;
    color: #0f1d26;
    -webkit-transition: transform 0.3s;
    -webkit-transition: max-height 0.7s, -webkit-transform 0.3s;
    transition: max-height 0.7s, -webkit-transform 0.3s;
    transition: transform 0.3s, max-height 0.7s;
    transition: transform 0.3s, max-height 0.7s, -webkit-transform 0.3s;
  }
  header nav.menu > ul > li > ul > li > a:hover {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  header nav.menu > ul > li > ul > li > a:hover {
    color: goldenrod;
  }
  header nav.menu > ul > li > ul > li > a.disabled {
    color: #0f1d26;
    opacity: 0.5;
  }
  header nav.menu > ul > li > a:after {
    content: "";
    position: absolute;
    background-color: #0f1d26;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
    -webkit-transform: translate(0px, 100%);
            transform: translate(0px, 100%);
  }
  header nav.menu > ul > li > ul.openedSub {
    -webkit-transform: translate(0px, 8px);
            transform: translate(0px, 8px);
  }
  header nav.menu > ul > li:last-child > ul {
    right: 0px;
  }
  header nav.opened {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main #aboutMe > img:hover {
    -webkit-animation: blurMyPhoto 0.5s 1;
            animation: blurMyPhoto 0.5s 1;
  }
  @-webkit-keyframes blurMyPhoto {
    from {
      -webkit-filter: blur(6px);
              filter: blur(6px);
    }
    to {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  @keyframes blurMyPhoto {
    from {
      -webkit-filter: blur(6px);
              filter: blur(6px);
    }
    to {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  main #experience ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main #experience ul li div:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main #projects > h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 100px;
  }
  main #projects > h1 #showAllProjects {
    color: #9e7308;
    margin-left: 20px;
  }
  main #projects > h1 #showAllProjects:hover {
    color: goldenrod;
  }
  main #projects #projectsSlick .slick-arrow,
  main #projects #projectsSlick a {
    color: #9e7308;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  main #projects #projectsSlick .slick-arrow:hover,
  main #projects #projectsSlick a:hover {
    color: goldenrod;
  }
  main #projects #projectsSlick .slick-list .projectSlide > div > .projectContent > div > p {
    position: absolute;
    top: 50%;
    padding: 10px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 98%;
  }
  main #projects #projectsSlick .slick-list .projectSlide > div.projectContentOpened > div > div {
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
  main #projects #projectsSlick .slick-list .projectSlide > div.projectContentOpened > div > p {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  main #skills > div {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main #skills > div table {
    width: auto;
  }
  main #skills > div table tr td:first-child {
    min-width: 150px;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 0.3s;
    transition-property: padding;
    transition-duration: 0.3s;
  }
  main #skills > div table tr:hover td:first-child {
    padding-left: 10px;
  }
  main #skills > div table tr:hover .skillLevel i.active {
    color: goldenrod;
  }
  main #skills > div .otherSkills tr td:first-child {
    min-width: 200px;
  }
  .popup.allProjects .mainPopup > ul > li > a {
    color: #9e7308;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .popup.allProjects .mainPopup > ul > li > a:hover {
    color: goldenrod;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #0f1d26;
}

::-webkit-scrollbar-thumb {
  background-color: goldenrod;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9e7308;
}
/*# sourceMappingURL=style.css.map */