
.icon-menu:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-pencil-1:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-camera-alt:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-plus-1:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-minus:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-plus-circled:before { content: '\e810'; } /* '' */
.icon-trash:before { content: '\e811'; } /* '' */
.icon-trash-empty:before { content: '\e812'; } /* '' */
.icon-ok-circled2:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */